db/
incremental_db/
simulation/
software/phy_nios_2_bsp/
software/phy_nios_2/obj/
software/phy_nios_2/system/
software/phy_nios_2/Makefile
software/phy_nios_2/create-this-app
software/phy_nios_2/.metadata/
software/phy_nios_2/mem_init/
software/system/
software/.metadata/
.qsys_edit/
eth/
cpu/
outputs_files/
ip/udp_tx_offload/udp_tx_offload_hw.tcl~
software/phy_nios_2/.cproject
software/phy_nios_2/.project
ad9516/adhmrom.v
ad9516/adhmrom_bb.v
ALT_IOBUF2.v
ALT_IOBUF2_bb.v
*.qip
*.qdf
*.qsys
*.sopcinfo
*.qip
*.qpf
*.qsf
*.pin
*.hex
*.elf
*.objdump
*.flash
*.sof
*.pof
*.stp
*.tmp
*.done
*.bak
*.txt
*.rpt
*.smsg
*.summary
*.html
*.ppf
*.map
*.jdi
enet_pll.v
pll_rx.v
pll_rx_bb.v

